<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css"
    />
    <style></style>
    <meta charset="UTF-8" />
    <title>Markdown Blog</title>
  </head>
  <body>
    <h1>📄 Markdown Renderer</h1>
    <input
      id="mdUrl"
      type="text"
      placeholder="Markdown URL 입력"
      value="https://raw.githubusercontent.com/adam-p/markdown-here/master/README.md"
    />
    <button id="loadBtn">Render</button>
    <hr />
    <div id="content"></div>

    <script src="/static/main.js"></script>
  </body>
</html>
